@charset "utf-8";


<<<<<<< HEAD
table.curvedEdges td {  color:#000;border-bottom:1px dotted black;padding:5px;}
=======
table.curvedEdges { border:10px solid RoyalBlue;-webkit-border-radius:13px;-moz-border-radius:13px;-ms-border-radius:13px;-o-border-radius:13px;border-radius:13px; }
table.curvedEdges td {  color:#FFFFFF;border-bottom:1px dotted black;padding:5px;}
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
table.curvedEdges th {color:#FFB509; border-bottom:1px dotted black;padding:5px;}

#menu{
	margin-top: 2%;
	margin-left: 0%;
	overflow: hidden;
	margin-right: 60%;
	left: 0px;
	width: 180px;
	font-size: 14px;
}
.data {
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 13%;
<<<<<<< HEAD
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	border-radius: 10px 10px 10px 10px;
=======
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset 0 0 100px #000000;
	-webkit-box-shadow: inset 0 0 100px #000000;
	box-shadow: inset 0 0 100px #000000;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	color: #000;
	text-align: left;
	padding-right: 5%;
	
	width: 750px;
<<<<<<< HEAD
	height: 650px;
=======
	height: 400px;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	padding-top: 3%;
}
.data_show_users {
	
<<<<<<< HEAD
	padding-left: 15%;
=======
	padding-left: 30%;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	
}
.data_show_drivers {
	
<<<<<<< HEAD
	padding-left: 5%; 
=======
	padding-left: 5%;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	
}
#display_map {
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 13%;
<<<<<<< HEAD
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	border-radius: 10px 10px 10px 10px;
=======
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset 0 0 100px #000000;
	-webkit-box-shadow: inset 0 0 100px #000000;
	box-shadow: inset 0 0 100px #000000;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	color: #000;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 10px;
	width: 750px;
	height: 480px;
	padding-top: 3%;
	overflow: hidden;
}

#searchbox{
	
	margin-top: 10px;
<<<<<<< HEAD
	margin-left: 48%;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	 width: 450px;
=======
	margin-left: 51%;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	width: 450px;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	
}
a:link {
	color: #0066FF;
}
a:visited {
	color: #0066FF;
}

#special{
    z-index: 1;
	margin-top: 5px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset 0 0 100px #CCC;
	-webkit-box-shadow: inset 0 0 100px #CCC;
	box-shadow: inset 0 0 100px #CCC;
	color: #000;
	text-align: left;
	width: 200px;
	height: 120px;
}
<<<<<<< HEAD
 
=======
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b

body,td,th {
	font-size: 14px;
}
#display_drivers {
	z-index: 1;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 13%;
<<<<<<< HEAD
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	border-radius: 10px 10px 10px 10px;
	color: #000;
	text-align: left;
	padding-right: 7%;
	padding-left: 2%;
	width: 750px;
	height: 550px;
=======
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: inset 0 0 100px #000000;
	-webkit-box-shadow: inset 0 0 100px #000000;
	box-shadow: inset 0 0 100px #000000;
	color: #000;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	width: 750px;
	height: 400px;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
}

#log {
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 10%;
}
.txtbox {
	text-align: left;
<<<<<<< HEAD
	border: 1px solid #999;
	border-radius: 5px 5px 5px 5px ;
	border-color:#09F; 
	padding: 5px; 
	
}
 
.btnSearch {
	border: 1px solid #09F;
	border-radius: 5px 5px 5px 5px;
	background-color: #9F9F9F;
	height: 30px;
	width: 100px;
	color: #000;
}
.txtboxSearchuser {
	text-align: left;
	border: 1px solid #999;
	border-radius: 5px 5px 5px 5px ;
	border-color:#09F; 
=======
	border-radius: 10px 10px 10px 10px;
	border-top-color: #09F;
	border-right-color: #09F;
	border-bottom-color: #09F;
	border-left-color: #09F;
	padding: 5px;
}
 
.btnSearch {
	border-radius: 10px 10px 10px 10px;
	background-color: #000;
	height: 25px;
	width: 70px;
	color: #FFF;
}
.txtboxSearchuser {
	text-align: left;
	border-radius: 10px 10px 10px 10px;
	height: 15px;
	border-top-color: #09F;
	border-right-color: #09F;
	border-bottom-color: #09F;
	border-left-color: #09F;
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
	padding: 5px;
}
#searchboxuser{
	
	margin-top: 10px;
<<<<<<< HEAD
	margin-left: 33%;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	width: 650px;
	
}
.btnAddLocation {
	border: 1px solid #09F;
	border-radius: 5px 5px 5px 5px;
	background-color: #9F9F9F;
	height: 30px;
	width: 120px;
	color: #000;
	
}
  
=======
	margin-left: 36%;
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
	width: 550px;
	
}
.btnAddLocation {
	border-radius: 10px 10px 10px 10px;
	background-color: #000;
	height: 25px;
	width: 100px;
	color: #FFF;
}
#ajaxDiv1 {
	width: 150px;
	display: none;
	position: absolute;
	border-radius: 10px 10px 10px 10px;
	background-color: #333;	
} 
>>>>>>> 196240c3772e4e56f44b2fcb59e1d0ff11f1660b
